.class1{
font-family: 'Kaushan Script', cursive;

}
span{
    text-decoration:underline;
}
.img{
    border-radius: 50%;
    height: 150px;
    width: 150px;
    
}
hr{
    border: dotted #6C3428 6px;
    width: 4%;
    margin: 100px auto;
    border-bottom: none;
}
a{
    text-decoration:none ;
    color: inherit;
}
.class2{
    font-family: 'Space Mono', monospace;
}